<a href="https://colab.research.google.com/github/alibyte/warehouse/blob/master/Assignment_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pymysql
db = pymysql.connect("localhost",
                     "root", 
                     "alpine", 
                     "world")
cur = db.cursor()
cur2 = db.cursor
#populates list to fetch from
def fetchAll():
    cur.execute("SELECT name FROM world.country;")
    dump = cur.fetchall()
    print("Country")
    print("\n")
    for x in dump:
        print(str(x[0]))
    print("\n")
    cur.close()
#grabs fetched
def fetchOne(name):
    sql = "SELECT Name From world.country WHERE name =%s"
    cur2.execute(sql, name)
    dump2 = cur2.fetchone()
    print("Country Name")
    print("/n")
    for x in dump2:
        print(str(x))
    print("/n")
    cur2.close()
name = str(input("Enter country name to populate: "))
fetchAll()
fetchOne(name)
db.close()